<template>
  <v-container class="text-center">
    <v-container class="mt-10">
      <h1 class="display-2 font-weight-bold mb-8">
        Welcome to your Todo List
      </h1>
      <p v-if="todos.length === 0">
        You don't appear to have any tasks 🤔
      </p>
      <p v-else-if="todos.find(v => !v.done)">
        You have completed {{ todos.reduce((acc, v) => acc + !!v.done, 0) }} of {{ todos.length }}
        {{ todos.length !== 1 ? 'tasks' : 'task' }}.
      </p>
      <p v-else>
        You have completed all of your tasks. Great job 🎉
      </p>
    </v-container>

    <v-container class="mt-10">
      <h2 class="headline font-weight-bold mb-3">
        What's left to do
      </h2>
      <v-text-field
          v-model="newTodo.text"
          label="Add new Item"
          append-outer-icon="mdi-plus"
          @keydown.enter="addTodo()"
          @click:append-outer="addTodo()"
      />
      {{newTodo.text}}

      <v-card
        v-for="item in todos.filter(item => !item.done)"
        :key="item.text"
        class="my-2"
        @click="item.done =! item.done"
      >
        <v-card-title>
          <h4>{{ item.text }}</h4>
        </v-card-title>
      </v-card>
    </v-container>

    <v-container class="mt-10">
      <h2 class="headline font-weight-bold mb-3">
        Completed Items
      </h2>
      <!-- Using a data iterator gives us a few more options, like pagination (hidden inside the default footer -->
      <v-data-iterator
          :items="todos.filter(item => item.done)"
          :items-per-page="-1"
          hide-default-footer
          item-key="text"
      >
        <template v-slot:default="{ items }">
          <!-- We can utilize rows and columns to build a grid for the finished items -->
          <!-- Every grid (always) has 12 cols, if one element does not use all 12, -->
          <!-- another may fill the remaining space accordingly. -->
          <v-row>
            <!--  We can also specify how many cols each item should use, the default value in this case is 12, -->
            <!--  which means the item would span the entire with. On large (lg) devices, one item will use -->
            <!--  3 cols i.e. there would be up to 4 items in each row and so on and do forth -->
            <v-col
                v-for="item in items"
                :key="item.text"
                cols="12"
                lg="3"
                md="4"
                sm="6"
            >
              <v-card
                  color="green"
                  @click="item.done =! item.done"
              >
                <v-card-title>
                  <h4>{{ item.text }}</h4>
                </v-card-title>
                <!-- The v-card-actions is the perfect spot to put a delete button for completed items -->
                <v-card-actions>
                  <v-btn
                      height="40px"
                      icon
                      width="40px"
                      @click.stop="todos = todos.filter(v => v.text !== item.text)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </template>
      </v-data-iterator>
      <v-btn
          :disabled="!todos.length"
          class="ma-2 mt-10 pa-6 white--text"
          color="red"
          @click="clearTodos"
      >
        Delete All
        <v-icon right>mdi-delete</v-icon>
      </v-btn>
      <v-btn
          :disabled="todos.find(item => !item.done)"
          class="ma-2 mt-10 pa-6 black--text"
          color="yellow"
          @click="todos = todos.filter(item => !item.done)"
      >
        Delete Completed Items
        <v-icon right>mdi-delete</v-icon>
      </v-btn>

    </v-container>
  </v-container>
</template>

<script>
  const todoTemplate = {text: '', done: false};

  export default {
    name: 'HelloWorld',

    data: () => ({
      todos: [{text: 'wuäh', done: true}],
      newTodo: Object.assign({}, todoTemplate),
    }),
    methods: {
      addTodo() {
        if (!this.newTodo.text)
          return

        this.todos.push(this.newTodo)

        this.newTodo = Object.assign({}, todoTemplate)
      },
      clearTodos() {
        this.todos = []
      },
      saveState() {
        localStorage.setItem('todos', JSON.stringify(this.todos))
      },
    },
    watch: {
      todos: {
        handler() {
          this.saveState()
        },
        deep: true
      }
    },
    mounted() {
      if (localStorage.todos)
        this.todos = JSON.parse(localStorage.todos)
    }
  }
</script>
